body {
  font-family: Helvetica;
}
.begin {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
}

.header {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
  text-align: center;
}

.middle {
  text-align: center;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
